<% include partials/top %>
  <h1 class="display-3">Welcome to YelpCamp</h1>
  <p>
    Welcome to the one and only YelpCamp
  </p>
  <a href='/campgrounds'>View Campgrounds</a>
<% include partials/bottom %>
