<% include partials/top %>
<div class="col-6 mb-2">
  <h1><%= campground.name %></h1>
  <img src=<%= campground.image%> alt="Default campsite"/>
  <p><%= campground.blurb %></p>
</div>
<% include partials/bottom %>
