<% include partials/top %>
<div class="row">
  <div class="col-12 mb-2">
    <h1><%= campground.name %></h1>
    <img src=<%= campground.image%> alt="Default campsite"/>
    <p><%= campground.blurb %></p>
  </div>
</div>

<% include partials/bottom %>
